apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: generic-device-plugin
  namespace: kube-system
  labels:
    app.kubernetes.io/name: generic-device-plugin
    app.kubernetes.io/part-of: system-addons
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: generic-device-plugin
  template:
    metadata:
      labels:
        app.kubernetes.io/name: generic-device-plugin
        app.kubernetes.io/part-of: system-addons
    spec:
      nodeSelector:
        kidd.network/role: "control-plane"
      tolerations:
        - operator: Exists
      containers:
        - name: generic-device-plugin
          image: ghcr.io/squat/generic-device-plugin:latest
          args:
            - --device
            - |
              name: tun
              groups:
                - count: 10
                  paths:
                    - path: /dev/net/tun
          securityContext:
            privileged: true
          volumeMounts:
            - name: device-plugin
              mountPath: /var/lib/kubelet/device-plugins
            - name: dev
              mountPath: /dev
      volumes:
        - name: device-plugin
          hostPath:
            path: /var/lib/kubelet/device-plugins
        - name: dev
          hostPath:
            path: /dev

