name: publish-pi-netboot-builder

on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/publish-pi-netboot-builder.yml'
      - 'bootstrap/netboot/pi-netboot-builder.Dockerfile'
      - 'bootstrap/netboot/scripts/**'
  workflow_dispatch:

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: docker/setup-qemu-action@v3

    - uses: docker/setup-buildx-action@v3

    - uses: docker/login-action@v3
      with:
        registry: docker.io
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: build + push multi arch
      uses: docker/build-push-action@v6
      with:
        context: bootstrap/netboot
        file: bootstrap/netboot/pi-netboot-builder.Dockerfile
        push: true
        platforms: linux/amd64,linux/arm64
        tags: docker.io/${{ secrets.DOCKERHUB_USERNAME }}/pi-netboot-builder:latest
